/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
}

body,button,input,select,textarea,h1,h2,h3,h4,h5,h6 {
	font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial,
		"\5b8b\4f53", sans-serif;
}

fieldset,img {
	border: 0;
}

:focus {
	outline: 0;
}

address,caption,cite,code,dfn,em,strong,th,var,optgroup {
	font-style: normal;
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
	font-family: "Microsoft YaHei";
}

abbr,acronym {
	border: 0;
	font-variant: normal;
}

code,kbd,samp,tt {
	font-size: 100%;
}

input,button,textarea,select {
	*font-size: 100%;
	border: none;
}

body {
	background: #fff;
	color: #5e5e5e;
	font: 14px/2em Microsoft YaHei, SimSun, Arial;
}

ol,ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,th {
	text-align: left;
}

sup,sub {
	font-size: 100%;
	vertical-align: baseline;
}

:link,:visited,ins {
	text-decoration: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

a:link,a:visited {
	color: #5e5e5e;
}

a:hover {
	color: #c9394a;
}

a:active {
	color: #666;
}

.clearfix:after {
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	*zoom: 1;
}

.l {
	float: left;
}

.r {
	float: right;
}

.clear {
	height: 0;
	overflow: hidden;
	clear: both
}

.hide {
	display: none;
}

.btn.hide {
	display: none;
}

a.hidefocus {
	outline: none;
}

button.hidefocus::-moz-focus-inner {
	border: none;
}

a:focus {
	outline: none;
	-moz-outline: none;
}

input,textarea {
	outline: none;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 16px;
	line-height: 32px;
}

h5 {
	font-size: 14px;
	line-height: 28px;
}
/*border && padding*/
.img_border {
	border: 4px solid #fff;
	border-radius: 1px;
}

.bb {
	border-bottom: 1px solid #d2d2d2
}

.bt {
	border-top: 1px solid #d2d2d2
}

.pt15 {
	padding-top: 15px;
}

.pb15 {
	padding-bottom: 15px;
}

.p15 {
	padding: 0 15px
}
/*颜色定义*/
.color-gray,a.color-gray:link,a.color-gray:visited {
	color: #b7bcc0;
}

/*Layout*/
html {
	overflow-y: scroll;
}

.container {
	margin: 0 auto;
	/*width: 1000px;*/
	width: 1000px;
}

.container1000 {
	margin: 0 auto;
	width: 1000px;
	background: #fff
}

#main .container {
	/*width: 1000px;*/
	/*background:#fff;*/
	
}

/*main*/
#main {
	padding: 20px 0 !important;
	min-height: 750px;
}

.waper {
	width: 980px;
	margin: 0 auto
}

/*header*/
#header {
	font-family: '微软雅黑';
	background: #2a2c2e;
	height: 60px
}

.header-container {
	width: 100%
}

.header-content {
	width: 95%;
	max-width: 980px;
	margin: 0 auto;
	overflow: hidden
}

#logo {
	background: url(../img/logo_index.png?t=110);
	width: 100px;
	height: 60px;
	left: 10px;
	top: 0;
	position: absolute
}

#logo a {
	display: block;
	width: 100px;
	height: 60px;
	line-height: 60px;
	text-indent: -200%;
	overflow: hidden;
}

#logo a:active {
	background: url(../img/logo_index.png?t=10);
}

#nav {
	height: 60px;
	/*width:980px;*/
	margin: 0 auto;
	background: #2a2c2e;
	position: relative;
	z-index: 99
}

#nav-item {
	margin: 5px 0 0 140px;
}

#nav-item li {
	float: left;
	font-size: 14px;
	padding: 12px 0
}

#nav-item a {
	color: #B5BDC0;
	padding: 0px 35px;
	line-height: 21px;
	display: block;
}

#nav-item a:hover {
	color: #fff
}

#nav a:hover {
	text-shadow: 1px 1px 3px #666
}

#nav-item a:active {
	background: #2A2C2E
}

#MyCourseOn a {
	border-left: 1px solid #414345
}

#login-area {
	float: right;
	position: relative;
}

.login-btn {
	font-family: '微软雅黑';
	width: 84px;
	height: 34px;
	margin-top: 13px;
	border-radius: 15px;
	text-align: center;
	display: block;
	line-height: 30px;
	font-size: 14px;
	background: #2a2c2e;
	border: 2px solid #c9394a;
	text-decoration: none;
	color: #c9394a;
	cursor: pointer;
	*border: 0px;
	*background: url(../img/bg_top_login.png?t=10);
}

.login-btn:hover {
	color: #fff;
	background-color: #c9394a;
	*background-position: 0 -34px;
}

.header-unlogin li {
	float: left;
}

/*设置中心*/
.my_message,.set_btn,.app_mooc {
	position: absolute;
	width: 60px;
	height: 60px;
	right: 140px;
	top: 0px;
}

.app-mooc {
	padding: 10px 35px;
	height: 40px;
	line-height: 40px;
}

.app-mooc a {
	vertical-align: middle;
	color: #B5BDC0;
}

.app-mooc a:hover {
	color: #fff;
}

.app-mooc i {
	display: inline-block;
	vertical-align: -3px;
	width: 11px;
	height: 16px;
	margin-right: 5px;
	background: url(../img/iron_app.png) no-repeat left top;
}

.app-mooc a:hover i {
	background-position: 0 -16px;
}

.header-signin a,.header-signup a {
	display: block;
	padding: 0 15px;
	height: 60px;
	line-height: 60px;
	color: #B5BDC0;
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.header-signin a:hover {
	color: #fff;
	background-color: #cc3433;
}

.header-signup a:hover {
	color: #fff;
	background-color: #353d40;
}

.my_mp {
	position: absolute;
	width: 80px;
	height: 60px;
	top: 0;
	right: 60px;
	text-align: right;
}

.my_mp a {
	display: block;
	color: #7f8386;
	height: 46px;
	padding: 14px 14px 0 0;
}

.my_mp a span {
	display: block;
	line-height: 16px;
	color: #6c7072;
}

.my_mp a span.mp,.index_mp a span.mp {
	font-size: 12px;
}

#nav .my_mp a:hover {
	background: #363d40;
	text-shadow: none;
}

#nav .my_mp a:hover span.mp_num {
	color: #fff;
}

.header-right-item.index_mp>a span {
	display: block;
	line-height: 16px;
	text-align: right;
}

.header-right-item.index_mp>a {
	padding-top: 24px;
	height: 56px;
}

.my_message a {
	width: 60px;
	height: 60px;
	overflow: hidden;
	display: block;
	background: url(../img/icon_msg.png?t=110) no-repeat center center
}

.my_message a span {
	display: none
}

.my_message a:hover,.set_btn a:hover {
	background-color: #363d40
}

.app_mooc {
	right: 215px;
	width: 80px;
}

.app_mooc a {
	cursor: pointer;
	line-height: 56px;
	color: #b5bdc0;
}

.app_mooc a:hover {
	color: #fff;
	text-shadow: 1px 1px 3px #666;
}

.appmooc_icon {
	width: 11px;
	height: 16px;
	display: inline-block;
	position: absolute;
	top: 21px;
	background: url(../img/iron_app.png) no-repeat left top;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.app_mooc a {
		line-height: 57px;
	}
	::i-block-chrome,app_mooc a {
		line-height: 57px;
	}
}

.app_mooc a:hover .appmooc_icon {
	background-position: 0 -16px;
}

.app_msg {
	padding-left: 20px;
}

.set_btn {
	right: 0px;
	cursor: pointer;
	background: url(../img/menu_icon.png?t=10) no-repeat 9px 10px;
}

.set_btn a {
	padding: 8px;
	overflow: hidden;
	display: block;
	width: 44px;
	height: 44px
}

.set_btn a.hover {
	background-color: #363d40
}

.set_btn img {
	border-radius: 22px;
	border: 2px solid #adb0b1
}

#nav_list {
	display: none;
	z-index: 999;
	width: 140px;
	position: absolute;
	top: 60px;
	right: 0px;
	background: #363d40;
	list-style: none
}

#nav_list li a {
	border-top: 1px solid #4a5153;
	width: auto;
	height: 39px;
	line-height: 39px;
	font-size: 14px;
	background-image: url(../img/menu_icon.png?t=10);
	background-repeat: no-repeat;
	display: block;
	color: #fff;
	text-align: left;
	padding: 0;
	padding-left: 47px;
}

#nav_list li a:hover {
	color: #fff;
	background-color: #2a2c2e;
}

#nav_list  #my_space {
	padding: 0 18px;
	background-image: none;
	border: 0;
	text-align: center;
}

#nav_list  #my_space:hover {
	background: #363d40;
	text-decoration: underline
}

#nav_list  .my_message {
	background-position: 19px -46px
}

#nav_list  #my_note {
	background-position: 19px -90px
}

#nav_list  #my_question {
	background-position: 19px -128px
}

#nav_list  #my_setting {
	background-position: 19px -167px
}

#nav_list  #my_logout {
	background-position: 19px -207px
}

.msg_icon {
	display: none;
	padding: 0px 4px;
	height: 16px;
	line-height: 16px;
	left: 32px;
	position: absolute;
	top: 10px;
	line-height: 14px;
	background: #c9394a;
	color: #fff;
	display: block;
	font-style: normal;
	font-size: 10px;
}

.myspace_remind {
	width: 10px;
	height: 10px;
	background: url(../img/space-remind.png) no-repeat 0 0;
	position: absolute;
	top: 10px;
	right: 10px;
}
/*footer*/
#footer {
	background: #2a2c2e;
	border-top: 1px solid #e2e4e6;
	padding-top: 23px;
	font-size: 12px;
	color: #8e999d;
	line-height: 1.6;
	padding-bottom: 27px;
	padding-top: 27px;
	min-width: 980px;
}

#footer div,#footer p {
	line-height: 1.6;
}

#footer a:link,#footer a:visited {
	color: #8e999d
}

#footer a:hover {
	color: #fff
}

#footer a:active {
	background: #2A2C2E
}

.footer_logo {
	background: url(../img/footer_icon_logo.png) left top no-repeat;
	padding-bottom: 10px;
	height: 50px;
	margin-top: -25px;
	width: 100px
}

#footer ul {
	overflow: hidden;
}

#footer .des {
	width: 445px;
}

#footer .attention a {
	float: left;
	background: url(../img/gotoTop.png) no-repeat;
	width: 32px;
	height: 32px;
	overflow: hidden;
	text-indent: -99em;
	margin-right: 11px;
	margin-top: 15px;
	opacity: 0.5;
	filter: alpha(opacity =   50)
}

#footer .attention a:hover {
	opacity: 1;
	filter: alpha(opacity =   100)
}

#footer #qzone {
	background-position: 0 -96px
}

#footer	#sinaweibo {
	background-position: -48px -96px
}

#footer #qqweibo {
	background-position: -96px -96px
}

#footer #weixin {
	background-position: -115px -30px
}

.friend-links { /*padding-top: 20px ;border-top:1px solid #4F5153;*/
	line-height: 60px
}

.friend-links a {
	display: inline-block;
	margin-right: 20px;
}

.friend-links a:hover {
	text-decoration: underline;
	color: #000;
}

.friend-links dl {
	padding: 0 10px
}

.friend-links dd {
	float: left;
	width: 160px;
}

.footerwaper {
	overflow: hidden;
	padding-bottom: 20px
}

#footer .footer_intro,#footer .footer_link,#footer .attention {
	margin-top: 25px;
	float: left;
	height: 110px;
}

#footer .footer_intro {
	line-height: 24px;
	border-right: 1px solid #4f5153;
	width: 395px;
	padding-left: 10px
}

#footer .footer_link {
	padding: 0 50px;
	width: 230px;
	border-right: 1px solid #4f5153;
}

#footer .footer_link ul {
	padding-top: 8px
}

#footer .footer_link li {
	width: 115px;
	text-align: center;
	float: left;
	padding: 2px 0
}

#footer .attention {
	padding: 12px 0px 0 65px;
	height: 98px
}

/*翻页2013-8-15*/
.page {
	margin: 25px 0 auto;
	overflow: hidden;
	clear: both;
	text-align: center;
}

.page a {
	display: inline-block;
	border: 1px solid #c1c1c1;
	margin-right: 10px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #b1b1b1;
	text-align: center;
	padding: 2px 12px;
}

.page .disabled_page {
	color: #e5e5e5;
	display: inline-block;
	border: 1px solid #c1c1c1;
	margin-right: 10px;
	font-size: 14px;
	font-family: "微软雅黑";
	text-align: center;
	padding: 2px 12px;
}

.page .notmargin {
	margin-right: 0;
}

.page a:hover {
	color: #c9394a;
}

.page .active {
	background: #c9394a;
	color: #fff;
	border-color: #c9394a;
}

.page .active:hover {
	color: #fff;
}
/*按钮定义开始*/
a.btn {
	cursor: pointer;
	border: none;
	background: #c9394a;
	color: #ffffff;
	padding: 0 15px;
	font-size: 14px;
	display: inline-block;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	font-family: '微软雅黑';
	margin: 0;
	height: 26px;
	overflow: visible;
	line-height: 26px;
	text-decoration: none
}

.btn:hover,.btn:focus {
	background: #e35061;
	color: #fff;
	outline: none;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}

.btn:active,.btn-group.active,.btn.active {
	background-color: #a1a6a9;
	color: rgba(255, 255, 255, 0.75);
}

.btn.disabled,.btn[disabled] {
	background-color: #ddd;
	color: #fff;
	cursor: not-allowed
}

.btn.btn-small {
	font-size: 12px;
	height: 19px;
	line-height: 19px;
	font-family: Arial, Helvetica, sans-serif
}

.btn.btn-large {
	height: 38px;
	line-height: 38px;
	overflow: visible;
	font-size: 18px;
	padding: 0 30px;
	color: #ffffff;
}

.btn.btn-xlarge {
	height: 60px;
	line-height: 60px;
	overflow: visible;
	font-size: 36px;
	padding: 0 30px;
}

.btn.btn-reply {
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif
}

.btn.btn-gray {
	background-color: #5e5e5e;
}

.btn.btn-gray:hover,.btn.btn-gray:focus {
	background: #838383
}

.btn.btn-green {
	background-color: #2e943e
}

.btn.btn-green:hover,.btn.btn-green:focus {
	background: #38a149
}

.btn-close,a.btn-close {
	width: 25px;
	height: 25px;
	border: 0;
	display: inline-block;
	-moz-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	cursor: pointer;
	text-indent: -200%;
	overflow: visible;
	background-color: #ccc;
	background:
		url(data:image/gif;base64,R0lGODlhHgAeAJEAALGxsdjY2P///wAAACH5BAAHAP8ALAAAAAAeAB4AAAJRhI+py+0Po5y02hqCyzMIoS0eGI1fiJjko65Gi27fHMLdfNpUi7t7T7u8gDELr/gD+m7KE6aXgTKDAB1LerA2VEhuySkCl5ApsvCMTqvXbGEBADs=)
		center center;
}

.btn-close:hover,a.btn-close:hover {
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.btn-close:active,a.btn-close:active {
	filter: alpha(opacity =   60);
	opacity: 60
}

.btn-list {
	width: 101px;
	height: 42px;
	border: 1px solid #c9394a;
	background: #c9394a;
	color: #fff;
	text-align: center;
	line-height: 42px;
	font-size: 18px;
}

a.btn-hascourse {
	width: 101px;
	height: 42px;
	border: 1px solid #c9394a;
	background: #c9394a;
	color: #fff;
	text-align: center;
	line-height: 42px;
	font-size: 18px;
}

a.btn-hascourse:hover {
	background: #f05e6f;
	border: 1px solid #f05e6f;
}

.btn-list-gray {
	width: 101px;
	height: 42px;
	border: 1px solid #b1b1b1;
	background: #b3bbbe;
	color: #fff;
	text-align: center;
	line-height: 42px;
	font-size: 18px;
}
/*按钮定义结束*/
select {
	margin: 0;
	font-size: 100%;
	cursor: pointer;
	font-weight: normal;
	background-color: #fff;
	border: 1px solid #ccc;
	color: #555;
	display: inline-block;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	padding: 4px 6px;
	vertical-align: middle;
}

select:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

/*收藏*/
.btn-add-collection {
	float: left;
	margin-left: 20px;
	margin-top: 5px;
	overflow: hidden;
	padding-left: 25px;
	width: 0px;
	height: 20px;
	line-height: 20px;
	color: #99a1a6;
	font-size: 12px;
	font-weight: normal;
	display: inline-block;
	background: url(../img/course/dot_add_collection.png) no-repeat left top;
}

.btn-add-collection:hover {
	width: 80px;
	color: #99a1a6;
	background-position: left -20px;
}

.btn-remove-collection {
	background-position: left -40px;
}

.btn-remove-collection:hover {
	background-position: left -60px;
}

.course-title .btn-add-collection {
	margin-top: 6px;
}

.videohead .btn-add-collection {
	margin-top: 20px;
}

/*进度条*/
progress {
	display: inline-block;
	background: #f0f0f0;
	border: 0;
	height: 6px;
	color: #c9394a; /*IE10*/
	width: 400px;
}

progress::-webkit-progress-bar {
	background: #f0f0f0;
}

progress::-moz-progress-bar {
	background: #aad94a;
}

progress::-webkit-progress-value {
	background: #aad94a;
}

.progress {
	background: #f0f0f0;
	height: 6px;
	width: 400px;
	display: inline-block;
}

.progressBar {
	background: #aad94a;
	height: 6px;
}

.teacher-icon {
	width: 7px;
	margin-left: 5px;
	position: relative;
	top: 1px;
}
/*回到顶部*/
/*修改回到顶部和footer样式  ---by 杨明阳  2014.3.36*/
.gotoTopBtn {
	display: block;
	position: fixed;
	width: 40px;
	bottom: 25px;
	left: 50%;
	margin-left: 510px;
}

.gotoTopBtn a:hover,.gotoTopBtn a:active {
	outline: none;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-o-transition: 0s;
	transition: 0s;
}

.goto_top,.goto_top_backMeg,.goto_top_diaocha,.goto_top_app {
	cursor: pointer;
	width: 48px;
	height: 48px;
	background: url(../img/gotoTop.png?2) no-repeat 0 0;
	_background: url(../img/gotoTop.gif) no-repeat 0 0;
	display: inline-block;
	margin-top: 10px;
}

.goto_top {
	background-position: 0 0;
}

.goto_top:hover {
	background-position: 0 -48px;
}

.goto_top_backMeg {
	background-position: -48px 0;
}

.goto_top_backMeg:hover {
	background-position: -48px -48px;
}

.goto_top_diaocha {
	background-position: -144px 0;
}

.goto_top_diaocha:hover {
	background-position: -144px -48px;
}

.goto_top_app {
	background-position: -96px 0;
	position: relative;
}

.goto_top_app:hover {
	background-position: -96px -48px;
}

.goto_top_app:hover #erweima {
	display: block;
}

#erweima {
	position: absolute;
	background: url(../img/2weima.png) no-repeat;
	width: 240px;
	height: 220px;
	display: none;
	right: 46px;
	top: -86px
}

* html .gotoTopBtn {
	position: absolute;
	bottom: auto;
	top: expression(eval(document.documentElement.scrollTop + 
		 document.documentElement.clientHeight-this.offsetHeight- (  
		parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
}

/* html,* html body /* 
修正IE6振动bug */
{
background-image


:url


(
about


:blank


); /*用浏览器空白页面作为背景*/
background-attachment


:fixed


; /* prevent screen flash in IE6 确保滚动条滚动时，元素不闪动*/
}
/* end 回到顶部*/
a {
	outline: none;
}

a:active {
	star: expression(this.onFocus =   this.blur ());
}

a,input,button {
	outline: none;
}

button::-moz-focus-inner {
	border: 0px;
}

input::-moz-focus-inner {
	border: 0px;
}

.autowrap {
	word-wrap: break-word;
	word-break: break-all
}

.compatible-contianer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	min-width: 800px;
	height: 30px;
	line-height: 30px;
	background: url(../img/iebg.gif) repeat-x;
	z-index: 999999;
}

.cpt-ct {
	color: #363636;
	font-size: 12px;
	text-align: center;
}

.cpt-ct i {
	display: inline-block;
	width: 12px;
	height: 14px;
	vertical-align: -2px;
	margin-right: 5px;
	background: url(../img/iefixed-sprite.png) no-repeat 0 0;
}

.cpt-ct a {
	color: #39b94e;
}

.cpt-ct a:hover {
	text-decoration: underline;
}

.cpt-handle {
	position: absolute;
	right: 20px;
	top: 0;
	font-size: 12px;
	line-height: 27px;
}

.cpt-handle a {
	display: inline-block;
	vertical-align: middle;
}

.cpt-handle .cpt-agin {
	color: #656e73;
	margin-right: 5px;
}

.cpt-handle .cpt-agin:hover {
	color: #363d40;
}

.cpt-close {
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	border-radius: 50%;
	transition: 0.3s;
}

.cpt-close:hover {
	background-color: #fc8800;
}

.cpt-close i {
	display: inline-block;
	height: 8px;
	width: 8px;
	vertical-align: 1px;
	background: url(../img/iefixed-sprite.png) no-repeat 0 -24px;
}

.cpt-close:hover i {
	background-position: 0 -42px;
}

.shopping {
	text-align: right
}

#sub {
	margin: 0
}